
<html>
    <head></head>
    <body>
        <form action="/login" method="POST"> 
           User Name: <input name="username" placeholder="Username"><br>
           Password: <input name="password" placeholder="Password"><br>
           <button type="submit">submit</button>
        </form>
    </body>
</html>